@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Scheherazade+New:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Scheherazade New','Newsreader', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: white;
  color: rgb(0, 0, 0);
  background-color: #e6e6e6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 4em;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 3.2rem);
  line-height: 1.1;
}

.navbar {
  background-color: #245fb8;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  min-height: 60px;
  z-index: 100;
}
.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  color: #ebe8e8;
}
.navbar .brand {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 1rem;
}
.navbar .nav-links a {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1rem 1.5rem;
}
.navbar .nav-links a:hover,
.nav-links a:hover {
  text-decoration: underline;
}

.navbar, .navbar .brand, .navbar .nav-links a, .navbar .hamburger {
  transition: all 0.3s ease;
}
.navbar.shrink {
  min-height: 50px;
}
.navbar.shrink .brand {
  font-size: 1.7rem;
}
.navbar.shrink .nav-links a {
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
}

.navbar.shrink .hamburger {
  font-size: 1.5rem;
}

footer {
  background-color: #245fb8;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #e6e6e6;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  margin-top: auto;
}
footer p {
  margin: 0;
  padding: 1rem;
  font-weight: 500;
  color: #ebe8e8;
}

.pilotPhoto {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  margin-top: -10px;
}
.pilotPhoto img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.pilotPhoto .tedBlurb {
  position: absolute;
  width: 50%;
  padding: 1rem;
  top: 20vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: clamp(1px, 1.5vw, 2rem);
  background-color: rgba(78, 76, 76, 0.5);
  border: 2px solid rgba(206, 206, 206, 0.5);
}

.intro{ 
  display: flex;
  flex-direction: column;
  margin-top: clamp(-200px, -16vw, -60px);
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding-bottom: 6em;
}

@media (max-width: 800px) {
  .hamburger {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    color: #ebe8e8;
    cursor: pointer;
  }
  .navbar-container {
    position: relative;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 50px;
    background-color: #ebe8e8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }
  .nav-links.open {
    display: flex;
  }
  .nav-links a {
    color: black;
  }
}

@media (min-width: 801px) {
  .hamburger {
    display: none;
  }
  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
  }
}