h1 {
  font-size: clamp(1.5rem, 4vw, 3.2rem);
  line-height: 1.1;
}

.pilotPhoto {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  margin-top: -10px;
}
.pilotPhoto img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.pilotPhoto .tedBlurb {
  position: absolute;
  width: 50%;
  padding: 1rem;
  top: 20vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: clamp(1px, 1.5vw, 2rem);
  background-color: rgba(78, 76, 76, 0.5);
  border: 2px solid rgba(206, 206, 206, 0.5);
}

.intro{ 
  display: flex;
  flex-direction: column;
  margin-top: clamp(-200px, -16vw, -60px);
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding-bottom: 6em;
}

@media (max-width: 800px) {
}